
<h1>文章列表</h1>
<% entries.forEach(function (entry){ %>
<p>
    <a href="/article/<%=entry.id %>"><%=entry.title%></a><br/>
    Published:<%= entry.published %>
</p>
<% }); %>
<%- include('footer') %>
<!--
{{#each entries}}
<p>
    <a href="/article/{{id}}">{{title}}</a><br/>
    Published: {{published}}
</p>
{{/each}}-->
